<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <script type="text/javascript" src="js/Chart.js"></script>
    <script src="js/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epiconnect</title>
  </head>
  <body>

    <div class='container'>
      <div class='jumbotron'>
        <img id="logo" src="img/epiconnect_logo.png">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
