.jumbotron {
  text-align: center;
  padding: 0px;
  background-color: #eae1da;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eae1da;
  color: #DFD6E1;
}

#second_row {

}

.col-sm-4 {

}

.card {
  display: flex;
  overflow-wrap: break-word;
  align-items: center;
  border: 0px;
  padding: 20px;
  background-color: #7F78AC;
  border-radius: 10px;
}

.nested_card {
  color: #4D276E;
  overflow-wrap: break-word;
  padding: 20px;
  background-color: #f2dbc9;
}

.list_card {
  color: #4D276E;
  overflow-wrap: break-word;
  padding: 50px;
  background-color: white;
}

#logo {
  height: 200px;
  width: auto;
}

.btn-primary {
  border: 0px;
  color: #DFD6E1;
  background-color: #583477;
}

.btn-primary:hover {
  background-color: #eae1da;
   color: #cea98a;
 }

#second_row .card{
  background-color: #cea98a;
  border-radius: 10px;
}

label, input {
  width: 200px;
  padding-left: 0px;
  display: block;
}

.list_div {
  color: #7F78AC !important;
}

.list_div a {
  color: #583477 !important;
}

.list_div a:hover {
  background-color: #eae1da !important;
  color: #cea98a !important;
}

#event_list_div {
  padding-top: 50px;
  padding-left: 100px;
}

#user_list_div {
  padding-left: 100px;
}

#event_user_list {
  padding-top: 50px;
  padding-left: 100px;
}

ul {
  list-style: none;
}

form {
    width: 24%;
    vertical-align: middle;
    display: inline-block;
}

form {
    width: 75%;
    display: inline-block;
}

#hangout_list {
  color: #eae1da !important;
}

#network_list {
  color: #eae1da !important;
}

#study_list {
  color: #eae1da !important;
}

@media screen and (max-width:1000px) {

  #second_row {
    flex-wrap: wrap !important;
    flex-direction: column;
    flex-grow: 1;
  }

  .col-sm-4 {
    max-width: 100% !important;
  }

  .card {
    max-width: 100% !important;
  }

  .nested_card {
    max-width: 100% !important;
  }
}

@media screen and (max-width:425px) {
  #second_row {
    flex-wrap: wrap !important;
    flex-direction: column;
    flex-grow: 1;
  }

  .col-sm-4 {
    max-width: 100% !important;
  }

  .card {
    max-width: 100vw !important;
  }

  .nested_card {
    max-width: 100% !important;
  }
}
